.bar {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.continent {
  height: 12rem;
  border-bottom: 1px solid black;
}

.countries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
